

<div class="text-center">
  <span class="glyphicon glyphicon-search color-black" style="font-size: 30px"></span>
    <p class = "text">SEARCH</p>
</div>

<div class="hidden-xs">
    <div class="center-item">
        <div>
            <img src="../../images/flatground.jpg" width="350" height="200">
            <p class="caption">FLATGROUND TRICKS</p>
        </div>

        <div>
            <img src="../../images/ledge.jpg" width="350" height="200">
            <p class="caption">LEDGE</p>
        </div>

        <div>
            <img src="../../images/clip.png" width="350" height="200">
            <p class="caption">CLIP OF THE DAY</p>
        </div>

        <div>
            <img src="../../images/rail.jpg" width="350" height="200">
            <p class="caption">RAILS</p>
        </div>

        <div>
          <img src="../../images/stairs.jpg" width="350" height="200">
          <p class="caption">STAIRS</p>
        </div>
    </div>
</div>

<div class="visible-xs">
    <div class="center-item">
        <div>
            <img src="../../images/flatground.jpg" width="200" height="100">
            <p class="caption">FLATGROUND TRICKS</p>
        </div>

        <div>
            <img src="../../images/ledge.jpg" width="200" height="100">
            <p class="caption">LEDGE</p>
        </div>

        <div>
            <img src="../../images/clip.png" width="200" height="100">
            <p class="caption">CLIP OF THE DAY</p>
        </div>

        <div>
            <img src="../../images/rail.jpg" width="200" height="100">
            <p class="caption">RAILS</p>
        </div>

        <div>
          <img src="../../images/stairs.jpg" width="200" height="100">
          <p class="caption">STAIRS</p>
        </div>
    </div>
</div>

<div class= "form1">
    <div class="col-xs-12 col-lg-offset-3 col-lg-6">
        <p>トリック検索</p>
        <div class="form-group">
            <%= form_tag(genres_path,:method => 'get') do %>
                <%= text_field_tag :search %>
                <%= submit_tag 'Search', :name => nil %>
            <% end %>
        </div>
        <ul>
            <% @genres.each do |genre| %>
                <li>
                    <%= link_to genre.name, genre %>
                </li>
            <% end %>
        </ul>
    </div>
</div>

<div id="player"></div>

<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript">


var player;
function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
        height: '195',
        width: '100%',
        videoId: 'O9NEMdjn8LE',
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }
    });
}

// スクロールイベント
window.addEventListener("scroll", function() {
  // 画面内にプレイヤーがあるかを判定
  if (window.scrollY < player.getIframe().offsetTop &&
      window.scrollY + window.screen.height > player.getIframe().offsetTop + player.getIframe().offsetHeight) {
    // 動画再生
    player.playVideo()
  } else {
    // 動画停止
    player.pauseVideo()
  }
})

function onPlayerReady(event) {
    loopStart();
    player.playVideo();
}
function loopStart() {
    player.seekTo(16);   // Start at 7 seconds
}
function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING) {
        setTimeout(loopStart, 6000); // After 5 seconds, restart the loop
    }
}
</script>



<script>
  $(function(){
    $('.text').children().addBack().contents().each(function() {
      $(this).replaceWith($(this).text().replace(/(\S)/g, '<span class="text-move">$&</span>'));
    });
  });
</script>
