<div class="text-center icon_caption">
  <span class="glyphicon glyphicon-bookmark color-black" style="font-size: 30px"></span>
    <p class = "text">FAVORITES</p>
</div>

<%= render 'videos/videos', videos: @liked %>



<script>
  $(function(){
    $('.text').children().addBack().contents().each(function() {
      $(this).replaceWith($(this).text().replace(/(\S)/g, '<span class="text-move">$&</span>'));
    });
  });
</script>


<script>
  $(function(){
    $('.text').children().addBack().contents().each(function() {
      $(this).replaceWith($(this).text().replace(/(\S)/g, '<span class="text-move">$&</span>'));
    });
  });
</script>
