<div class="text-center icon_caption">
  <span class="glyphicon glyphicon-bookmark color-black" style="font-size: 30px"></span>
    <p class = "text">FAVORITES</p>
</div>

<%= render 'videos/videos', videos: @liked %>
