/*
*= require_tree .
*= require_self
*/

/*@charset "utf-8";*/


.font {
        font-size: 30px;
}

.form1 {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

background-color-red{
  background-color:red;
}

border-color-black {
  border-width: 10px;
  border-style: solid;
  border-color: black;

}

.color-grey {
 color: grey;
}

.color-black {
 color: black;
}


.details{
  background-color:  white;

}

.active {
  background-color:  #EEEEEE;
}

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}



.relative{
  position: relative;
  display: none;
}



/* 文字の動きのあるフェードイン */
.wrap {
  width: 768px;
  margin: 200px auto 0;
  text-align: center;
}

.text-move {
  display: inline-block;
  font-size: 36px;
  animation: move .8s ease both;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.text-move:nth-child(1) {
  animation-delay: 0;
}
.text-move:nth-child(2) {
  animation-delay: .2s;
}
.text-move:nth-child(3) {
  animation-delay: .4s;
}
.text-move:nth-child(4) {
  animation-delay: .3s;
}
.text-move:nth-child(5) {
  animation-delay: .5s;
}
.text-move:nth-child(6) {
  animation-delay: .4s;
}
.text-move:nth-child(7) {
  animation-delay: .5s;
}
.text-move:nth-child(8) {
  animation-delay: .4s;
}
.text-move:nth-child(9) {
  animation-delay: .5s;
}
.text-move:nth-child(10) {
  animation-delay: .2s;
}
.text-move:nth-child(11) {
  animation-delay: .4s;
}
.text-move:nth-child(12) {
  animation-delay: .5s;
}

.text-move:nth-child(13) {
  animation-delay: .5s;
}

.text-move:nth-child(14) {
  animation-delay: .4s;
}

.text-move:nth-child(15) {
  animation-delay: .5s;
}

.text-move:nth-child(16) {
  animation-delay: .4s;
}

.text-move:nth-child(17) {
  animation-delay: .5s;
}

.text-move:nth-child(18) {
  animation-delay: .2s;
}

.text-move:nth-child(19) {
  animation-delay: .4s;
}

.text-move:nth-child(20) {
  animation-delay: .5s;
}

.text-move:nth-child(21) {
  animation-delay: .3s;
}


/* footer */

.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 46px;
}



@media screen and (max-width:640px){
  .wrap {
    width: 100%;
  }
}

.text{
  color: black;
}
