<footer>
    <% if logged_in? %>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">


                <div class="icon icon-home">
                   <%= link_to root_url do %><span class="glyphicon glyphicon-home color-black" style="font-size: 30px"></span><% end %>
                </div>

                <div class="icon icon-search">
                    <%= link_to genres_path do %><span class="glyphicon glyphicon-search color-black" style="font-size: 30px"></span><% end %>
                </div>

                <div class="icon icon-library">
                    <%= link_to library_user_path(current_user) do %><span class="glyphicon glyphicon-bookmark color-black" style="font-size: 30px"></span><% end %>
                </div>

                <div class="icon icon-user">
                    <%= link_to current_user do %><span class="glyphicon glyphicon-user color-black" style="font-size: 30px"></span><% end %>
                </div>
            </div>

        </nav>

   <% else %>
       <div class="bottom">
           <div class="text-center text-muted">© 2019 PEBBLE SKATE JAPAN.</div>
       <div>
   <% end %>
</footer>
